* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    background-image: url(./images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#header {
    background-color: #ffffff;
}

#logo {
    width: 100px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(0 0 0 / 55%);
}

#footer {
    background-color: #ffffff;
}

#main-form {
    background-color: rgba(20, 20, 20, 0.9);
}

#pop-up {
    display: none;
}

.my-text-color {
    color: hsl(0deg 0% 0% / 60%);
}

.btn-open-form {
    color: gray;
}
